<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Работа с БД</title>
    <meta charset="utf-8" />
</head>
<body>
    <p class="message">Таблицы</p>
    <p class="footer"><a href="/car">Машины</a></p>
    <p class="footer"><a href="/break">Поломки</a></p>
    <p class="footer"><a href="/role">Роли</a></p>
    <p class="footer"><a href="/route">Маршруты</a></p>
    <p class="footer"><a href="/user">Пользователи</a></p>
    <p class="footer"><a href="/car_copy">Единицы машин</a></p>
    <p class="footer"><a href="/driver">Водители</a></p>
    <p class="footer"><a href="/repair">Ремонты</a></p>
    <p class="footer"><a href="/telephone">Телефоны</a></p>
    <p class="footer"><a href="/vacation">Отпуска</a></p>
    <p class="footer"><a href="/trip">Поездки</a></p>
    <p class="message"><a href="/requests">Запросы</a></p>
</body>
<html>