<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Запросы</title>
    <meta charset="utf-8" />
</head>
<body>
    <p class="message">Запросы (лабороторная работа 4)</p>
    <p class="footer"><a href="/request2_1">Задание 2 (1)</a></p>
    <p class="footer"><a href="/request2_2">Задание 2 (2)</a></p>
    <p class="footer"><a href="/request2_3">Задание 2 (3)</a></p>
    <p class="footer"><a href="/request2_4">Задание 2 (4)</a></p>
    <p class="footer"><a href="/request2_5">Задание 2 (5)</a></p>
    <p class="footer"><a href="/request3_1">Задание 3 (1)</a></p>
    <p class="footer"><a href="/request3_2">Задание 3 (2)</a></p>
    <p class="footer"><a href="/request3_3">Задание 3 (3)</a></p>
    <p class="footer"><a href="/request4_1">Задание 4 (1)</a></p>
    <p class="footer"><a href="/request4_2">Задание 4 (2)</a></p>
    <p class="footer"><a href="/request4_3">Задание 4 (3)</a></p>
    <p class="message"><a href="/">Назад</a></p>
</body>
<html>