<!DOCTYPE html>
<html>
<head>
    <title>Работа с БД</title>
</head>
<body>
     <p><a href="/break">Поломки</a></p>
     <p><a href="/car">Машины</a></p>
     <p><a href="/car_copy">Единицы машин</a></p>
     <p><a href="/">Назад</a></p>
</body>
<html>