<!DOCTYPE html>
<html>
<head>
    <title>Добавление машины</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавить машину</h1>
     <form method="POST">
        <label>Марка</label><br>
        <input name="mark" class="field"/><br><br>
        <label>Модель</label><br>
        <input name="model" class="field" /><br><br>
        <label>Тоннаж</label><br>
        <input name="tonnage" class="field" /><br><br>
        <input type="submit" value="Добавить" />
     </form>
     <a href="/car">К списку машин</a>
</body>
<html>