<!DOCTYPE html>
<html>
<head>
    <title>Добавление поломки</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавить поломку</h1>
     <form method="POST">
        <label>Информация о поломке</label><br>
        <input name="break_notes" class="field"/><br><br>
        <label>Информация о починке</label><br>
        <input name="repair_notes" class="field" /><br><br>
        <input type="submit" value="Добавить" />
     </form>
     <a href="/break">К списку поломок</a>
</body>
<html>